<div class="container-fluid px-3 pt-5 mt-5">
    <div class="row">
      <div class="col-lg-3 pl-5">
       <p class="back">
         <a routerLink="" routerLinkActive="active" style="text-decoration: none; color: rgb(255, 255, 255); cursor:pointer;" href="C:\Users\Gobinda\Desktop\project\page1.html">
         &larr; Back
         </a>
        </p>
        <p class="steps py-2">Steps to play</p>
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" >   
         Choose one of the labels provided on the right.( For eg. Sun. Flower, Umbrella)</p>
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" >   
         Draw one of the category inside the given Canvas area.</p>
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" > Press ‘Confirm Selection’.</p>
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" > If you make a mistake in while drawing, press ‘Clear Selection’. </p> 
        </div>
     
        <div class="col-md canvas text-center ">
         <p class="Draw">Draw inside this canvas</p>
         <canvas id="canvas" width="400" height="370"></canvas> 
        </div>
        <div class="col-lg-4">
          <p class="choose py-3">Choose from the labels</p>
          <div class="row">
            <div class="col mx-3 mt-3 choose-cata btn btn-outline-warning">Sun</div>
            <div class="col mx-3 mt-3 choose-cata btn btn-outline-warning">Flower</div>
          </div>
          <div class="row">  
            <div class="col mx-3 mt-5 choose-cata btn btn-outline-warning">Pencil</div>
            <div class="col mx-3 mt-5 choose-cata btn btn-outline-warning">Umbrella</div>
          </div>  
          <div class="row">
            <div class="col mx-3 mt-5 choose-cata btn btn-outline-warning">House</div>
            <div class="col mx-3 mt-5 choose-cata btn btn-outline-warning">Spoon</div>
          </div>
        
         
       <p class="confirm py-3 mt-5" style="cursor: pointer;">Confirm Selection</p>
       <p id="clrw" class="clear py-3 mt-3" style="cursor: pointer;" (click)="onClick()" >Clear Canvas</p>
           </div>
  </div>
   </div>