<div class="container-fluid px-3 pt-5 mt-5">
    <div class="row">
      <div class="col-lg-3 pl-5">
       <p class="back">
         <a routerLink="" routerLinkActive="active" style="text-decoration: none; color: rgb(255, 255, 255); cursor:pointer;" href="C:\Users\Gobinda\Desktop\project\page1.html">
         &larr; Back
         </a>
        </p>
        <p class="steps py-2">Steps to play</p>
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" >   
         Choose any one from the given list :<ul>
            <li class="steps-line">Sun</li>
             <li class="steps-line">Flower</li>
             <li class="steps-line">Pencil</li>
             <li class="steps-line">Umbrella</li>
             <li class="steps-line">House</li>
             <li class="steps-line">Spoon</li>
           </ul>
        
           
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" >   
         Draw inside the Canvas.</p>
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" > Press ‘Confirm Selection’.</p>
        <p class="steps-line">
         <img src="/assets/images/send1.png" width="15px" height="15px" > If you make a mistake in while drawing, press ‘Clear Selection’. </p> 
        </div>
        
         
        <div class="col-md canvas text-center ">
         <p class="Draw text-center">Draw Inside this canvas</p>
         <canvas id="canvas" width="400" height="370"></canvas> 
        </div>
        
        <div class="col-lg-4">  
         <div class="row">
             <div class="col mx-3 mt-3 choose-cata"></div>
             <div class="col mx-3 mt-3 choose-cata ng"></div>
           </div>
           <div class="row">  
             <div class="col mx-3 mt-5 choose-cata"></div>
             <div class="col mx-3 mt-5 choose-cata "></div>
           </div>
           <div class="row">
             <div class="col mx-3 mt-3 choose-cata "></div>
             <div class="col mx-3 mt-3 choose-cata "></div>
           </div>
           <div class="row">  
             <div class="col mx-3 mt-5 "></div>
             <div class="col mx-3 mt-5 "></div>
           </div>             
           <p class="confirm p-2 py-3 mt-5 " style="cursor: pointer;">Confirm Selection</p>
           <p id="clrw" class="clear py-3 mt-3" style="cursor: pointer;" >Clear Canvas</p>
           </div>
  </div>
   </div>
