<div>
    <h1 class="title_1">Quick Draw Game</h1>
    </div>
  <div class="button  ">
  <a routerLink="/canvas" routerLinkActive="active" style="text-decoration: none;" class="btn_2 btn-outline-warning">Create Data Set</a>
</div>
<div class="button ">
   <a routerLink="/createdata" routerLinkActive="active" style="text-decoration: none;" class="btn_1 btn-outline-light btn-lg">Play</a>
</div>


<!-- <div class = "row">
 <div class= "col-lg-6 col-md-6 col-12"></div>
 </div>
  <div class="row">
 <div class= "col-lg-2 col-md-2 "></div>
  <div class= "col-lg-8 col-md-8 col-12">
   <h1 class="title_1">Quick Draw Game</h1>
 </div>
 <div class="col-lg-4 col-md-4 col-2"></div>
 <div class="col-lg-6 col-md-4 col-12">Create Data Set</div>
 
</div> -->

